.subsc-color{
    background-color:#ffffff;
    height:250px;
  }

  .subsc-input{
    border:thin;
    max-width:35%;
    height:38px;
    padding-left:20px;
    border-radius:4px;
    border:1px solid#fffa07;
    -webkit-transition:0.5s;
    transition:0.5s;
    outline:none;
  }
  input[type=text]:focus {
    border:3px solid #555;
  }

  .btn{
    height:38px;
    border:bold !important;
    max-width:80%;
    background-color: black !important;
    box-shadow:none;
    margin-left:50px;
    text-transform: none;
   }
  
   .subscribe{
    padding-top:30px;
    padding-bottom:10px;
    font-family:"Libre Franklin", sans-serif;
    font-size:25px;
   }
  
   .hr-subsc{
    border:5px solid#fffa07;
    max-width:420px;
   }