.me-auto{
  padding-left:41px !important;
  font-family: "Libre Franklin", sans-serif;
  font-size:23px;
}

.header-color{
  background-color: #ffffff!important;
}

.hr-about{
  border: 5px solid#fffa07;
  width:190px;
}

.hr-products{
  border: 5px solid#fffa07;
  width:170px;
}

.products{
  padding-bottom:1cm;
}

.contact{
  padding-left:135px;
  padding-top:60px;
}

.contact-2{
  padding-left:300px;
  padding-top:-10px
}

.hr-contact{
  border: 5px solid#fffa07;
  width:140px;
}

.search-input{
  outline:none;
  border: 1px solid #ccc;
}

.search{
  padding-left:200px; 
}


.search-btn{
  border: 1px solid #ccc;
  height: 34px;
  margin-left:0.5cm;
  background-color: #ffffff;
}

.hr-accomm{
  border: 5px solid#fffa07;
  width:140px;
}

.acomm{
  padding-bottom:1cm;
}

.hr-main{
  border: 5px solid#fffa07;
  width: 1265px!important;
}

.h-f{
  border: 5px solid#fffa07;
  width:60px;
}


.hr-trans{
  border: 5px solid#fffa07;
  width:180px;
}

.footer-color{
  background-color:#ffffff;
}
 
.box{
  background-color: #e1e1e1;
  padding-top: 20px;
  list-style-type: none;
  border: 1px solid #fffa07;
  width: 300px;
}

.icons{
  background-color: transparent!important;
  padding-top:1cm;
}

.list-group-item{
  border: none!important; 
}

.main{
  font-family: "Libre Franklin", sans-serif;
  padding-bottom:1cm;
}

.about{
  background-color: #ffffff!important;
}

.subsc-color{
  background-color: #e1e1e1;
  height:7cm;
}

 .subsc-input{
  border:thin;
  outline:none;
  max-width: 35%;
  height:1cm;
  padding-left:0.5cm;
  border-radius: 4px;
 }

 .btn{
  height:1cm;
  border:thin !important;
  outline:none !important;
  max-width: 80%;
  background-color: #ffffff !important;
  color:#757575!important;
  box-shadow: none;
  margin-left:2cm;
  text-transform: none;
 }

 .subscribe{
  padding-top: 1cm;
  padding-bottom: 0.5cm;
  font-family: "Libre Franklin", sans-serif;
  font-size:25px;
  padding-left:3.5cm;
 }

 .subsc{
   padding-left:3.5cm;
 }

 .hr-subsc{
  border: 5px solid#fffa07;
  max-width:420px;
 }

 .gallery{
   font-size: 20px;
 }

 .logo{
   max-width:70px;
 }

 .title{
  font-family:Impact;
  padding-top:1cm;
 }

 .social{
  justify-content: space-between;
  padding-top:0.5cm;
  padding-bottom:1cm;
 }

 .copyright{
  justify-content: center;
  padding-bottom: 0.5cm;
 }

 .hr-f{
   border:5px solid #fffa07;
   width:580px;
   margin-top:-0.3cm;
 }

 .hr-act{
  border: 5px solid#fffa07;
  width:160px;
 }

 .hr-production{
  border: 5px solid#fffa07;
  width:307px;
 }

 .hala-pic{
  max-width:500px;
  max-height: 500px;
  border-radius: 8px;  
 }
 
 .hala1{
   padding-top: 1cm;

 }


 .hala{
   padding-top:0.5cm;
 }
 

 




